.navbar {
  height: 80px;

  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
}

.nav {
  text-decoration: none;

  padding: 0.5rem 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;

  border-radius: 8px;

  transition: all 0.1s ease-in-out;
}

.nav:first-child {
  margin-left: 0;
}

.nav:last-child {
  margin-right: 0;
}

.nav:hover {
  cursor: pointer;
  color: black;
  background-color: #e4e4e4;
}

.active,
.active:hover {
  color: white;
  background-color: #444242;
}
